.food__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.food__buttons {
  margin-bottom: 20px;
}

.food__button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.food__button:hover {
  background-color: #ccc;
}

.food__button.active {
  background-color: #333;
  color: white;
}

.food_title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.food__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s;
  margin-bottom: 20px;
}

.food__card:hover {
  transform: scale(1.02);
}

.food__card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.food__card div h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.food__card div p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #666;
}

.food__card div p:last-child {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

@media screen and (min-width: 768px) {
  .food__container {
    justify-content: space-between;
  }

  .food__card {
    flex-basis: 48%;
  }
}

@media screen and (min-width: 1024px) {
  .food__container {
    justify-content: flex-start;
  }

  .food__card {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 767px) {
  .food__card {
    flex-direction: column;
    text-align: center;
  }

  .food__card img {
    margin: 0 0 15px 0;
  }
}
